<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_26_3d303b34bbfd11639d1b7485eb36b42d.jpg?imageView/2/w/960/q/85</string>
		<key>name</key>
		<string>【十万公里的蜜月】彩云之南，大理丽江</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_08_31_d5c998a726c3fd654b1d91b34c1f14b9.jpg</string>
		<key>name</key>
		<string>逛吃大吃逛吃大吃思密达</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_07_28_e26d72f27b847d8abe2081d2e919de96.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>火辣辣的重庆&amp;成都</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_08_31_bd5895519e203db7ea3c90ffee381a44.png</string>
		<key>name</key>
		<string>心中de一抹绿</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_09_7387176adca63c41fe927c66d1ecdeaf.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>马尔代夫梦幻JD岛</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_19_3344ee59a1c53ca514f3e39c5e9e160f.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>成都--一个来了就不想走的城市</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_17_b96ad37fd0b494ce26beed3bda6e7ab2.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>台湾—探索1949后的彼岸之旅</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_18_19561cf4648caa829555d944be3c7346.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>天空之镜—三月丽江，八月彩云</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_03_19_0bd1bd7cdb01a60bdcecde05151dbc7a.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>走吧，到欧洲散个步</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_08_29_8b40e31544f093605797bda1500faa03.jpg</string>
		<key>name</key>
		<string>多彩狮城</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_08_29_4fb47f5f8aceaf523c0f6cfe0c480e59.jpg</string>
		<key>name</key>
		<string>我的老家在大东北的小桦南</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_15_5cb4bbdfd81e986fe4814c2f16cda621.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>澳門 One Day In Macau</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_08_28_63dbece871c4971d8451710d18a54f4a.png</string>
		<key>name</key>
		<string>【遨游大连】走，到大连双宿双飞去！</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_12_8ee9f64b5f93818e05fab14b1eb0e475.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>enjoy 巴厘风情</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_06_30_063f75df29e1811e8c0de557b566ba31.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>【新加坡一人游】在抑郁的夏天 不能停止任性</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2014_04_07_bcfff3064c0d5b99b3023e0f2542b775.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>帕劳日记：一颗散落在太平洋上的珍珠</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_05_09_3338e75025fd939822860c634b402a1a.jpg?imageView/2/w/960/q/85</string>
		<key>name</key>
		<string>土耳其♥蓝天白云与星空</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_03_24_1b0f267dba8fe26e696ce6190019ccdd.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>魔都不等位</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/photo_2015_08_17_424fc2dbf3072f847a3d44a25657089e.jpg?imageView/1/w/640/h/480/q/85</string>
		<key>name</key>
		<string>pp和tk的丽江和大理漫游</string>
	</dict>
	<dict>
		<key>cover_image</key>
		<string>http://photos.breadtrip.com/covers_2015_05_30_006b1b8eebd921cdb974f94b9198a090.jpg</string>
		<key>name</key>
		<string>外婆的澎湖湾</string>
	</dict>
</array>
</plist>
